body {
	background-color : #dddddd
	}
h1 {		
	color : white;	
	font-size : 40;
	background:#B0D000;
	margin-right : 200px;
	margin-left : 200px;
	padding : 1em;
	border-radius : 20px;
	border:outset #B0D000;
	}
h2{	
	background:silver;
	color : white;
	font-size : 30;
	font-style : bold;
    text-align: center;
    padding : 0.5em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: black;
  background: silver;
}


p {
	color : white
	}

legend.lgd {
		color:black;
		font-style : bold;
		font-size : 20;
		position : relative;
		padding:.4em .3em;
		}

form.ajout_piece {
	float : right auto;
	margin : 25;
	width  : 300px;
	padding : 1em;	
	border: 1px  solide #CCC;
	border-radius: 20px;
	}
	
form.acces_piece {
	float : left auto;
	margin : 15;
	width  : 300px;
	padding : 1em;	
	border: 1px  solide #CCC;
	border-radius: 20px;
	}


form div + div {
    margin-top: 1em;
}

label {
	color : white;
    display: inline;
    width: 60px;
    text-align: left;
    font-style : bold;
}

fieldset{
  margin-bottom:1em;
  width:24em;
  padding-top:1.5em;
}
	
div.titre {
		}
div.pieces {
		 margin-left: 200px;
		 float:left;
		 width:500px;
		 height:1200px;
		 margin-left: : 200px;
		 background-color: #B0D000;
		 border-radius: 20px;
		 border:outset #B0D000;
		}
		
div.modif {
		 float:right;		 
		 margin-right: 200px;
		 width:500px;
		 height:1200px;
		 background-color: #B0D000;
		 border-radius: 20px;
		 border:outset #B0D000;
		}

/* les boutons enregistrer */
input[type="submit"] {
  font:1.2em "Trebuchet MS", Verdana, sans-serif;
  color:#345071;
}